
/*navigation bar*/
.navbar {
  overflow: hidden;
  background: linear-gradient(to bottom, #ffffff 0%, #0000ff 100%);
  font-family: monospace, sans-serif;
  border-bottom: 4px solid #9593bf;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: linear-gradient(to top, #66ccff 0%, #0000ff 100%);
}

.show {
  display: block;
}

/*the design of the form*/
body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: monospace, sans-serif;
  }

  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  .box .input-box{
    position: relative;
  }
  .box .input-box input{
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
  }
  .box .input-box label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0px;
    font-size: 16px;
    color: #fff;
    transition: .5s;
  }
  .box .input-box input:focus ~ label,
  .box .input-box input:valid ~ label{
    top: -18px;
    left: 0px;
    color: #03a9f4;
    font-size: 12px;
  }
  .box input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #227be3;
    padding: 10px 20px;
    border-radius: 5px;
    cursor:pointer;
  }


  /*alignment of all other content*/
  a {
    text-decoration: none;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .button {
    border: none;
    align: center;
    text-decoration: none;
    display: inline-block;
  }
